<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello Vue3 :)</h1>
    <div id="app">
        <h2>Book List</h2>
        <p><a :href="url">google</a></p>
        <br>
        <button @click="toggleShowBooks">
            <span v-show="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        <div v-show="showBooks">
            <ul>
                <li v-for="book in books":class = "{fav: book.isFav}">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                    <button @click="toggleFav(book)">
                        <span v-show="book.isFav">Unfav</span>
                        <span v-else>Fav</span>
                    </button>
                </li>
            </ul>
        </div>
        <button @click="toggleShowFavBooks">
            <span v-if="showFavBooks">Hide Favorite Books</span>
            <span v-else>Show Favorite Books</span>
        </button>
        <div v-show="showFavBooks">
            <ul>
                <li v-for="book in favBooks":class = "{fav: book.isFav}">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>
    </div>
    <script src = "app.js"></script>
</body>
</html>